body{
	margin: 0 auto;
	width: 1280px;
}
a{
	text-decoration: none;
}
a:link{
	
}
a:active{
	
}
a:hover{
	color: black;
}
a:visited{
	
}
#nav{
	background-color: skyblue;
}
#nav td{
	width: 212px;
	font-size: 30px;
	text-align: right;
}
#nav td span{
	font-size: 15px;
	color: darkgrey;
	text-align: right;
}