#lft{
	float: left;
	width: 1000px;
}
table{
	width: 100%;
}
#dv{
	border: 2px solid lightblue;
	border-radius: 5px;
	margin-top: 5px;
	padding: 0px 30px 15px 30px;
}
#tb2{
	border: 2px solid lightblue;
	background-color: aquamarine;
		border-spacing: 0px;
}
#tb2 td{
	border: 1px solid lightblue;
}
#rht{
	float: left;
	width: 240px;
	margin-left: 30px;
}
#rht1 dt{
	font-size: 18px;
	background-color: darkred;
}
#rht1 dd{
	font-size: 10px;
	background-color: aquamarine;
	margin-left: 0px;
	padding: 5px 0px 0px 18px;
	border-bottom: 2px solid blue;
}
#rht img{
	width: 100%;
}
