#nav_lf2_dd{
	background-color: powderblue;
}
#nav_lf2_dd td{
	width: 212px;
	font-size: 30px;
	text-align: right;
}
#nav_lf2_dd td span{
	font-size: 15px;
	color: darkgrey;
	text-align: right;
}
h1{
	text-align: center;
}
img{
	margin-left: 20%;
}